# Project exclude paths
/common-autoconfigure/target/
/common-cache/target/
/common-core/target/
/common-excel/target/
/common-file/target/
/common-web/target/
/.claude/
/openspec/
/.idea/
.ace-tool/
/common-log/target/
/common-security/target/
